#prevPgBanner, #nextPgBanner, #header, #annotationPanel, #audioPopUp, #navigationBar {
	display: none !important;
}
#bookContentContainer, #bookContentContainer2 {
	top: 0 !important;
	bottom: 0 !important;
}
#stickyNoteContainer, #popupArrowDiv {
	display: none !important;
}