button {
  margin-bottom: 15px;
}

.codePanel {
  background: #F8F8FF; 
  border: black dashed 1px; 
  padding: 6px;
  margin-bottom: 5px;
  display: block;
  word-wrap: break-word;
}

#panel {
  max-width: 500px;
}

.trim {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.full {
  width: 100%;
  height: 100%;
}

.padded {
  padding: 10px;
}

.flex-container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-wide {
  flex-grow: 4;
  flex-shrink: 1;
}

.flex-narrow {
  flex-grow: 1;
  flex-shrink: 4;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}
